
@keyframes walk-key {
  12.5% { background-position: 105px; }
  25% { background-position: 210px; }
  37.5% { background-position: 315px; }
  50% { background-position: 420px; }
  62.5% { background-position: 525px; }
  75% { background-position: 630px; }
  87.5% { background-position: 735px; }
  100% { background-position: 840px; }
}

@keyframes sink-key {
  100% { background-position: -1500px; }
}
@keyframes rise-key {
  100% { background-position: -1000px}
}

@keyframes stretch-key {
  from { background-position: 0px }
  to { background-position: -848px}
}

@keyframes reverse-stretch-key {
  100% { background-position: 848px}
}

@keyframes carrying-key {
  12.5% { transform:rotate(-4deg); }
  25% { transform:rotate(-1deg); }
  37.5% { transform:rotate(0deg); }
  50% { transform:rotate(-1deg); }
  62.5% { transform:rotate(-5deg); }
  75% { transform:rotate(-1deg); }
  87.5% { transform:rotate(-0deg); }
  100% { transform:rotate(0deg); }
}

@keyframes walkback-key {
  12.5% { background-position: 56.25px; }
  25% { background-position: 112.5px; }
  37.5% { background-position: 168.75px; }
  50% { background-position: 225px; }
  62.5% { background-position: 281.25px; }
  75% { background-position: 337.5px; }
  87.5% { background-position: 393.75px; }
  100% { background-position: 450px; }
}

@keyframes walkforward-key {
  12.5% { background-position: 55.125px; }
  25% { background-position: 110.25px; }
  37.5% { background-position: 165.375px; }
  50% { background-position: 220.5px; }
  62.5% { background-position: 275.625px; }
  75% { background-position: 330.75px; }
  87.5% { background-position: 385.875px; }
  100% { background-position: 441px; }
}

.oc.oc-carrying:not(.oc-forward):not(.oc-back):before {
  content: ' ';
    width: 9px;
    height: 48px;
    background-color: white;
    z-index: 5000;
    display: block;
    position: absolute;
    left: 54px;
    top: 98px;
}

.oc.oc-carrying:not(.oc-stretch):not(.oc-forward):not(.oc-back):after {
  content: ' ';
  width: 90px;
  height: 10px;
  background-color: black;
  z-index: 5000;
  display: block;
  position: absolute;
  left: 54px;
  top: 103px;
  border-radius: 5px;
  transform-origin: 100% 100%;
  transform: rotate(-1deg);
}

.oc.oc-carrying.oc-right.moving:not(.oc-stretch):after, .oc.oc-carrying.oc-left.moving:not(.oc-stretch):after {
  animation: carrying-key 1.31s steps(1) infinite;
}

.oc.oc-carrying.oc-left:not(.oc-stretch):after {
  transform-origin: 100% 0%;
}

/* .oc.oc-carrying.oc-forward + .dog:first-child { 

 } */

 .above-ground {
   position: relative;
   z-index: 100;
 }


.oc {
  -webkit-touch-callout: none;
  -webkit-user-select: none; /* Disable selection/copy in UIWebView */
  transform: rotateX(-15deg) translateY(-15px); /* translateY(20px); /* translateY(-20px);*/

  position: fixed;
  transform-origin: bottom center;
  
  top: 20%;
  z-index: 31;
	background-repeat: no-repeat; 
}

.oc-above {
  width: 105px; 
  height: 280px;
}

.oc-below{
  transform: rotateX(-88deg) translateY(-240px);
}

.walk-movement {
  animation: walk-key 1.31s steps(1) infinite;
}

.turn-around {
  transform: scaleX(-1) rotateX(-15deg); 
  
  /*rotateX(-60deg);*/
}

.oc-carrying.oc-forward + .dog {
  z-index: 1000;
}

.walk-back {
  width: 56.25px;
  height: 200px;
  background: url(/sprites/oc/walk-away.png);
  animation: walkback-key 1.31s steps(1) infinite;
}

.walk-forward {
  width: 56.25px;
  height: 200px;
  background: url(/sprites/oc/walk-forward.png);
  animation: walkforward-key 1.31s steps(1) infinite;
}

.oc-right {
  width: 100px; 
  height: 210px;
  background: url(/sprites/oc/ocsharp.png) left center; 
}

.oc-left {
  width: 100px; 
  height: 210px;
  background: url(/sprites/oc/ocsharp.png) left center;
  transform: scaleX(-1) rotateX(-15deg);
}

.oc-forward {
  width: 56.25px;
  height: 200px;
  background: url(/sprites/oc/walk-forward.png);
}

.oc-back {
  width: 56.25px;
  height: 200px;
  background: url(/sprites/oc/walk-away.png);
}

.oc-right.moving, .oc-left.moving {
  animation: walk-key 1.31s steps(1) infinite;
}

.oc-forward.moving {
  animation: walkforward-key 1.31s steps(1) infinite;
}

.oc-back.moving {
  animation: walkback-key 1.31s steps(1) infinite;
}

.oc-stretch {
  width: 106px; 
  height: 301px;
  background: url(/sprites/oc/oc-stretch-body.png); 
  animation-fill-mode: forwards;
  animation: stretch-key 0.8s steps(8);
}

.oc-stretch-drag {
  /* animation-fill-mode: forwards; */
}

.oc-reverse-stretch {
  width: 106px; 
  height: 301px;
  background: url(/sprites/oc/oc-stretch-body.png); 
  animation: reverse-stretch-key 0.4s steps(8);

}

.oc-sink {
  width: 100px; 
  height: 300px;
  animation-fill-mode: forwards;
  background: url(/sprites/oc/sink-small.png) left center; 
  animation: sink-key 0.8s steps(15); 
}


.oc-rise {
  width: 100px; 
  height: 210px;
  /*xtransform: rotateX(-15deg) translateY(-15px);*/
  background: url(/sprites/oc/oc-rise.png) left center; 
  animation: rise-key 0.8s steps(10);
}

.plate.below:not(.shifting) .above-ground > .oc {
  display: none;
}

.oc-arms-grow {
  background-color: #0C0C0C;
  position: fixed;
  /* top: 115px; */
  /* left: 52px; */
  width: 10px;
  height: 10px;

  transform-origin: center left;
}


.triangle-right {
  
  width: 200;
  height: 0;

  position: fixed;
  top: 115px;
  left: 52px;

  border-top: 5px  solid transparent;
  border-left: 5px solid red;
  border-bottom: 5px solid transparent;

  
  transform-origin: center left;
  /*transform: rotate(125deg);*/

