
@keyframes walk-key {
   100% { background-position: -1141px; }
}



.image-occultatum {
  position: absolute;
  
	width: 163px; 
	height: 275px;

  top: 500px;
  left: 10%;
  z-index: 100;
	background-repeat: no-repeat;

  background: url(/sprites/oc/occultatum-sprite.png) left center;	
  
  display: inline-block;
  
  background-repeat: no-repeat;
  
 
}

.walk-movement {
  animation: walk-key 0.3s steps(7) infinite;
}

.turn-around {
  transform: scaleX(-1);
}
