* { 
  margin: 0; 
  padding: 0; 
}

.xbelow {
  transform-style: preserve-3d;
  transform-origin: center top;
  transform: rotateX(60deg);
  transition: all 1s;
}

.stay-above{
	transform: rotateX(-60deg);
	transition: all 1s;
}

.above {
  transform: rotateX(0deg);
  transition: all 1s;

}

.lives-above {
	transform-origin: center bottom;
}



.default {

	overflow: hidden;
}

.white-background {
	perspective: 500;
	overflow: hidden;
	height: 100%;
	background-color: white;
	z-index: 2003;

}
.xblack-background {
	width: 100%;
	height: 100%;
	background-color: black;
	z-index: 0;
}