:root {
  --horizon: 240px;
  --perspectiveOffset: -20deg;
  --rotationBelow: 80deg;
  --transitionSpeed: 0.8s;
}

html, body {
  overflow: hidden;
	
	margin:0;
  
}

.disable-magnify {
  -webkit-touch-callout: none;
  -webkit-user-select: none; /* Disable selection/copy in UIWebView */
}





.universe{
	transform: scale(1.0);
	background-color: black;
	z-index: 0;
	height: 100%;
	width: auto;
}

.sky{
	background-color: white;
	z-index: 1000;
	height: 420px;
	width: auto;
}
/*.sun{
	position: fixed;
	z-index: 1001;
	top: 80px;
	left: 80px;
	background-color: yellow;
	width: 80px;
	height: 80px;
	border-radius: 50%;
}*/

/*.cloud{
	position: fixed;
	z-index: 1010;
	top: 200px;
	left: 150px;
	background-color: white;
	width: 300px;
	height: 100px;
	border-radius: 70%;
}*/

.world{
	perspective: 2000px;
	perspective-origin: top center;
	position: fixed;
  	z-index: 2000;
  	top: 400px;
  	width: 200%;
  	left: -50%;
  	height: 64%;
}
.plate{
	transform-style: preserve-3d;
  transform-origin: top center;
  z-index: 2002;
  transform: rotateX(20deg);
  transition: all var(--transitionSpeed);
}
.land {
	width: 100%;
	height: 600px;
	background-color: white;
	position: relative;
}

.below { 
  transform: rotateX(88deg);
  transition: all var(--transitionSpeed);
}


.above {
  transform: rotateX(0deg);
  transition: all var(--transitionSpeed);


}
.stay-above{
	transform: rotateX(-88deg) !important;
}

.plate.shifting .stay-above {
	transition:  var(--transitionSpeed);
}

.go-below{
	transform: rotateX(-88deg) translateY(240px) !important;*/
	transition: all var(--transitionSpeed);
}

.return-above{
	transform: rotateX(-15deg) translateY(-15px) !important;
	transition: all var(--transitionSpeed);	
}


/* OC animation */
@keyframes walk-key {
   100% { background-position: -1141px; }
}
.walk-movement {
  animation: walk-key 0.25s steps(7) infinite;
}
.turn-around {
  transform: scaleX(-1);
}

/* Common styles for all programatically-added objects */
.above-ground > div:not(.land):not(.oc) {
	background-repeat: no-repeat;
	position: fixed;
}

.below-ground {
	transform: rotateX(-88deg) translateY(300px);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0px;
	background-color: #444;
}

.below-ground > * {
	position: fixed;
	bottom: calc(100vh / 4);
}