
.below {
  perspective: 400px;
  transform: rotateX(60deg);
  transform-style: preserve-3d;
  transition: all 1s;
}

.above {
  perspective: 0px;
  transform: rotateX(0deg);
  transform-style: preserve-3d;
  transition: all 1s;
}
