

.lawn-default {
  position: absolute;
  bottom: 0;;
  width: 100%;
  height: 600px;
  overflow: hidden;
  /*top: 440;*/
  background: url(/sprites/lawn/Lawn.png) left top;
  background-size: cover;
  filter: brightness(1.5);
}


.grass-strip {
  -webkit-touch-callout: none;
  -webkit-user-select: none; /* Disable selection/copy in UIWebView */
  transform: rotateX(-20deg);
  transform-origin: bottom center;
  position: fixed;
  height: 0.54in;
  width: 800px;
  top: 660px;
  left: 885px;
  z-index: 21;
  opacity: 0.4;
  background: url(/sprites/lawn/grass/grass-strip.png) left top no-repeat;  
}
