
.grass-patch-01  {
  -webkit-touch-callout: none;
  -webkit-user-select: none; /* Disable selection/copy in UIWebView */
  position: fixed;
  height: 0.54in;
  width: 0.31in;
  top: 658px;
  left: 900px;
  z-index: 20;
  opacity: 0.3; 
  background: url(/sprites/lawn/grass/grass-patch-01.png) left top no-repeat;  
}
.grass-patch-02  {
  -webkit-touch-callout: none;
  -webkit-user-select: none; /* Disable selection/copy in UIWebView */
  position: fixed;
  height: 0.54in;
  width: 0.31in;
  top: 658px;
  left: 860px;
  z-index: 21;
  opacity: 0.5;
  background: url(/sprites/lawn/grass/grass-patch-02.png) left top no-repeat;  
}

.grass-patch-03 {
  -webkit-touch-callout: none;
  -webkit-user-select: none; /* Disable selection/copy in UIWebView */
  position: fixed;
  height: 0.54in;
  width: 0.31in;
  top: 668px;
  left: 885px;
  z-index: 21;
  opacity: 0.4;
  background: url(/sprites/lawn/grass/grass-patch-03.png) left top no-repeat;  
}

