html, body {
  overflow: hidden;

}

.disable-magnify {
  -webkit-touch-callout: none;
  -webkit-user-select: none; /* Disable selection/copy in UIWebView */
}





.debug-messages {
  position: fixed;
  z-index: 10000;
  top: 400px;
  left: 400px;
  color: black;
}

