:root {
  --horizon: 440;
}

html, body {
  overflow: hidden;

}

.disable-magnify {
  -webkit-touch-callout: none;
  -webkit-user-select: none; /* Disable selection/copy in UIWebView */
}





.debug-messages {
  position: fixed;
  z-index: 10000;
  top: 400px;
  left: 400px;
  color: black;
}


.universe{
	transform: scale(1.0);
	background-color: black;
	z-index: 0;
	height: 100%;
	width: auto;
}
